<h1>Research</h1>
<div class="research">
    <aside class="completed">
        <mat-card>
            <img src="../../assets/placeholder.svg" alt="" mat-card-md-image> 
            <mat-card-title>
                <p>Secure Human-Computer Interaction: A Multi-Factor Authentication CAPTCHA Scheme</p>
            </mat-card-title>
            <mat-card-subtitle><p>Dr Asani.O.Emmanuel</p></mat-card-subtitle>
            <mat-card-content>
                <p>
                    In this chapter, CAPTCHA was presented as a measure for secure human-computer interaction. A
                    multi-factor CAPTCHA scheme that integrates facial recognition and real-time functionality as a secure
                    verification mechanism to check the activities of bots that try to assume human status was designed,
                    developed, and tested. The real-time functionality is premised on the human user's ability to complete
                    trivial tasks which though simple for human is difficult to break by bots. This was motivated by the
                    need to combat attackers' tendencies to beat existing CAPTCHA schemes through optical character
                    recognition, image annotation, tag classifier, etc. Literature on a number of existing schemes was
                    reviewed with a view to identifying gaps and establishing the research agenda. The system design and
                    analysis were done using scalable design techniques. Implementation was done using Javascript and a set
                    of APIs. The scheme was tested on an intel core i7 3GHz computer and further evaluated. Preliminary
                    results and findings show a promising effectiveness and efficiency of the developed system.
                </p>
            </mat-card-content>
        </mat-card>
    </aside>
    <aside class="ongoing">
        <mat-card>

        </mat-card>
    </aside>
</div>