<section class="head">
    <h1>Published Works</h1>
</section>
<div class="research">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <img src="../../assets/placeholder.svg" alt="" mat-card-md-image>
                <h1>Secure Human-Computer Interaction: A Multi-Factor Authentication CAPTCHA Scheme</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h2>Emmanuel Oluwatobi Asani PhD</h2>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                In this project, CAPTCHA was presented as a measure for secure human-computer interaction. A
                multi-factor CAPTCHA scheme that integrates facial recognition and real-time functionality as a
                secure
                verification mechanism to check the activities of bots that try to assume human status was designed,
                developed, and tested. The real-time functionality is premised on the human user's ability to
                complete
                trivial tasks which though simple for human is difficult to break by bots. This was motivated by the
                need to combat attackers' tendencies to beat existing CAPTCHA schemes through optical character
                recognition, image annotation, tag classifier, etc. Literature on a number of existing schemes was
                reviewed with a view to identifying gaps and establishing the research agenda. The system design and
                analysis were done using scalable design techniques. Implementation was done using Javascript and a
                set
                of APIs. The scheme was tested on an intel core i7 3GHz computer and further evaluated. Preliminary
                results and findings show a promising effectiveness and efficiency of the developed system.
            </p>
        </mat-card-content>
    </mat-card>
    <div class="adSpace">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3580012137816426"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gq-3+1f-3d+2z"
            data-ad-client="ca-pub-3580012137816426" data-ad-slot="4269927310"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <img src="../../assets/placeholder.svg" alt="" mat-card-md-image>
                <h1>Secure Human-Computer Interaction: A Multi-Factor Authentication CAPTCHA Scheme</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h2>Emmanuel Oluwatobi Asani PhD</h2>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                In this project, CAPTCHA was presented as a measure for secure human-computer interaction. A
                multi-factor CAPTCHA scheme that integrates facial recognition and real-time functionality as a
                secure
                verification mechanism to check the activities of bots that try to assume human status was designed,
                developed, and tested. The real-time functionality is premised on the human user's ability to
                complete
                trivial tasks which though simple for human is difficult to break by bots. This was motivated by the
                need to combat attackers' tendencies to beat existing CAPTCHA schemes through optical character
                recognition, image annotation, tag classifier, etc. Literature on a number of existing schemes was
                reviewed with a view to identifying gaps and establishing the research agenda. The system design and
                analysis were done using scalable design techniques. Implementation was done using Javascript and a
                set
                of APIs. The scheme was tested on an intel core i7 3GHz computer and further evaluated. Preliminary
                results and findings show a promising effectiveness and efficiency of the developed system.
            </p>
        </mat-card-content>
    </mat-card>
    <div class="adSpace">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3580012137816426"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gq-3+1f-3d+2z"
            data-ad-client="ca-pub-3580012137816426" data-ad-slot="4269927310"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <img src="../../assets/placeholder.svg" alt="" mat-card-md-image>
                <h1>Secure Human-Computer Interaction: A Multi-Factor Authentication CAPTCHA Scheme</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h2>Emmanuel Oluwatobi Asani PhD</h2>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                In this project, CAPTCHA was presented as a measure for secure human-computer interaction. A
                multi-factor CAPTCHA scheme that integrates facial recognition and real-time functionality as a
                secure
                verification mechanism to check the activities of bots that try to assume human status was designed,
                developed, and tested. The real-time functionality is premised on the human user's ability to
                complete
                trivial tasks which though simple for human is difficult to break by bots. This was motivated by the
                need to combat attackers' tendencies to beat existing CAPTCHA schemes through optical character
                recognition, image annotation, tag classifier, etc. Literature on a number of existing schemes was
                reviewed with a view to identifying gaps and establishing the research agenda. The system design and
                analysis were done using scalable design techniques. Implementation was done using Javascript and a
                set
                of APIs. The scheme was tested on an intel core i7 3GHz computer and further evaluated. Preliminary
                results and findings show a promising effectiveness and efficiency of the developed system.
            </p>
        </mat-card-content>
    </mat-card>
    <div class="adSpace">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3580012137816426"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gq-3+1f-3d+2z"
            data-ad-client="ca-pub-3580012137816426" data-ad-slot="4269927310"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</div>