<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3580012137816426"
        crossorigin="anonymous"></script>
</head>

<h1>About Us</h1>
<main>
    <div class="statement">
        <div class="content">
            <p>
                iSyms is a team of multidisplinary, cross border researchers with bias for Information Systems Modelling
                Simulation and Security. We are presently domiciled at Landmark University, Nigeria and affiliated to
                Landmark University SDG 11 (Sustainable Cities and Communities Research Group).
            </p>
        </div>
    </div>
    <div class="background">
        <img src="../../assets/images/llj-01 1.png" alt="content images" class="content">
    </div>
</main>

<section>
    <h1>Our Niché</h1>
    <p>Our niche include:</p>
    <ul>
        <li>Information systems theories and initiatives in ICT diffusion and uptake</li>
        <li>Information System Design and Development</li>
        <li>Information Systems Security
            We seek to engage information security models, computer science tools, social theories and criminological
            theories to explain cyber-criminal activities, causation, provide scientific tools for apprehension and
            assist in treatment of offenders. Machine learning and process level algorithms are used to design mitigating
            technologies and provide control in online, ubiquitous, resource constrained and IoT systems.
        </li>
        <li>Social & Enterprise informatics – a domain that seeks to improve understanding of the social and
            organizational context of technological actions, as well as the co-evolution of technologies, enterprises,
            organizations, and society.</li>
    </ul>
</section>