body{
    padding: 16px;
    color: #162844;
}

h1{
    text-align: center;
    font-size: 3em;
}

p{
    font-weight: 600;
    text-align: center;
}

.team-members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

mat-card{
    img{
        margin: 16px;
        border: 3px #11203A solid;
        border-radius: 50%;
        width: max-content;
        height: auto;
        padding: 8px;
    }

    display: block;
    width: min-content;
    text-align: center;
    justify-self: center;
    margin: 1em;
}

.mat-card{
    box-shadow: none;
}