<body>
    <h1>Our Team</h1>
    <p>A team of brilliant minds, capable of innovation and creativity. Unleashing the hidden treasures of the mind</p>
    <div class="team-members">
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Dr. Asani.O.Emmanuel</p>
            <p mat-card-subtitle>Group Coordinator</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Wihioka Nyekachi</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Adefemi Temitope</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Ibigbemi Joseph</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Ohale Emmanuel</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Haruna Aisha</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Adeloye Feranmi</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Akposibruke David</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
        <mat-card>
            <img mat-card-sm-image src="../../assets/placeholder.svg" alt="persons face">
            <p mat-card-title>Akinyele Joshua</p>
            <p mat-card-subtitle>Principal Researcher</p>
            <!-- <a href='https://dryicons.com/free-icons/profile-placeholder'> Icon by Dryicons </a> -->
        </mat-card>
    </div>
</body>