<body>
    <div class="headline">
        <h1>Multidisciplinary Perspectives on Requirement Engineering in Africa</h1>
        <p>Usage, Cases, Applications, Policies & Implications, for Research & Professional Practices</p>
    </div>
    <section class="collab">
        <p>In Collaboration with</p>
        <ul>
            <li>Academic City University College, Accra, Ghana</li>
            <li>Society for Multidisciplinary & Advanced Research Techniques (SMART) Africa</li>
            <li>ICT University Foundations, USA</li>
            <li>IEEE Computer Society, Nigeria Chapter</li>
        </ul>
    </section>
    <hr>
    <h3>CALL FOR CHAPTERS</h3>
    <h4>Preamble</h4>
    <section>
        <p>In a world where technology and technological advancements has remained a driver for human
            advancements, the need to continue to understand what users desire, wants and need in terms of
            product designs and service delivery cannot be overemphasized. Requirement Engineering (RE) is at
            the core of this efforts and as the name suggests, it is focused on establishing user requirements and
            specifying user demands. Although it is a core component of engineering and information
            systems/computing studies, our efforts in this call is to highlight RE as being at the core of the
            ubiquitous, multidisciplinary, interdisciplinary and academic research endeavors required to address
            the myriads of human-centered and technology-induced challenges that the world faces today.</p>
            <p>The COVID-19 pandemic that took the world by surprise has added a new window to the need for crossdiscipline engagement in terms of establishing user and consumer requirements in drug discovery and
                the health sector. Vaccination uptakes and diffusion of predictive technology has met with a number
                of obstacles occasioned by the need to roll out measures that can quickly mitigate the global
                pandemic. One major issue adjudged responsible for these developments is the absence of elicitation
                of information from prospective users of palliative and recovery measures.</p>
            <p>Challenges with leadership, political structures, economic downturns, global conflicts, famine,
                unemployment, infrastructural development, social order, cyber governance, cyber crimes, industrial
                production, communication and lots more requires finding out what people need from socio-political,
                engineering, technology, economic, computing and understanding what their needs mean in terms of
                design, structure, planning, products, governance and services. Although Requirements Engineering
                is closely related to software engineering, which focuses more on the process of designing the system
                that users want. Perhaps the most concise summary comes from Barry Boehm definition of
                requirement as "designing the right things" as opposed to software, engineering which is "designing
                the things right" (Boehm, 1981).</p>
            <p>Nuseibeh and Easterbrook (2000) gave a more comprehensive definition of "Requirements
                Engineering (RE) as the process of discovering that purpose, by identifying stakeholders and their
                needs, and documenting these in a form that is amenable to analysis, communication, and
                subsequent implementation". Looking at the African landscape, there are paucity of materials and
                research in the very important area of requirement engineering, Although there are manufacturing and
                industrial establishments in Africa, research has not thoroughly address nor reveal if these
                organizations and establishments carry out feasibility studies or requirement elicitations before
                commencing production. </p>
            <p>This is also noticeable in other aspects of socio-political and economic engagements in Africa, in most
                countries; citizens are dissatisfied with leadership citing their inabilities to meet even basic needs
                while engaging in white elephant projects that does not impact on societal development, human
                capital and well-being of the citizens. The dependence on foreign manufacturing capabilities as well
                as lack of attention to take time to understand why imported technologies does not work has done
                little or nothing to ameliorate the impact of the lack of attention to Requirement Engineering.</p>
            <p>This book offers an opportunity across different stratum of societies in Africa for scholars and
                researchers from different disciplines, practitioners, and experts from different domains to document
                usage, cases, applications, policies & implications of requirement engineering for research &
                practices. The books shall contain chapters of both peer-reviewed on cardinal issues and advances in
                the field of Requirement Engineering and their intersections on several disciplines both core and
                tangential to the subject matter. It is therefore expected to cater for the theoretical and practical
                resources needs of wide-ranging classes of multidisciplinary researchers, practitioners, students,
                engineers, managerial level personnel, policy makers, systems, services and product designers and
                industry experts. This Edited book will be jointly published as a resource and reference material by the
                collaborating entities. Each article will be available online and assigned CrossREF DOI numbers and
                indexed as widely as possible in reputable databases. </p>
    </section>
    <h4>Objective</h4>
    <section>
        <p>The objective of this book is to offer comprehensive coverage of both established and cutting-edge
            contributions from academics, researchers and industry practitioners, on the cases, theories, policies,
            design and utilization of requirement engineering in the design, development, implementation, and
            deployment of products and services across different sectors in Africa. Contributions in this book will
            bring to the fore, the challenges, cases and gains of trends and paradigms in Requirement Engineering
            as a cross-discipline and multi-sector subject matter that must be properly situated and engaged to
            support knowledge discovery, improved products development and delivery in the public, private,
            educational and service industry.</p>
    </section>
    <h4>Nature of Submissions</h4>
    <section>
        <p>We welcome research using a variety of methodologies, and at any level of analysis, such as:</p>
        <ul>
            <li>Case Studies and Teaching Case Studies</li>
            <li>High-quality qualitative research (e.g., interview, observation)</li>
            <li>Causal Analysis</li>
            <li>Quantitative (e.g., experimental, survey)</li>
            <li>Design and development of theories, concepts and policies & Design Research</li>
            <li>Analytical techniques including thematic analysis, content and structural equation modelling</li>
            <li>Models</li>
            <li>Position Papers and Review articles</li>
            <li>Mixed methods research (e.g., surveys complemented with case studies)</li>
            <li>Comprehensive theory development papers.</li>
        </ul>
    </section>
    <h4>Thematic Areas of Interest</h4>
    <section>
        <p>Contributions are welcomed from the themes listed below (By no means exhaustive)</p>
        <ol>
            <li>Convergence of requirement engineering among disciplines viz-a-viz its impact on indigenous
                innovative products and services</li>
            <li>Efforts at national and regional levels at upscaling various types of health and medical
                interventions,</li>
            <li>Customer and User Satisfaction with RE processes</li>
            <li>Product and service failures and success with RE</li>
            <li>RE and evolutions in the music and video industry in Africa</li>
            <li>RE in Construction Engineering</li>
            <li>RE in small and medium scale enterprises</li>
            <li>RE in financial institution products and services</li>
            <li>RE in indigenous engineering design, production and product</li>
            <li>RE in information technology product development and services</li>
            <li>RE for entrepreneurships and technopreneurships</li>
            <li>RE in governmental services and delivery of public sector services</li>
            <li>RE in the establishment of educational institutions in Africa</li>
            <li>RE in Curriculum development and quality control as well as</li>
            <li>Requirement Engineering theories, policies, practices</li>
            <li>RE fact gathering, validation, analysis, process mapping and negotiations</li>
            <li>Process modelling, quality requirement, boundaries and elicitations</li>
            <li>Requirement documentation, completeness, traceability, modifiability,
                extendibility etc</li>
            <li>RE in agricultural production and development</li>
            <li> RE for Health Informatics and Health Devices</li>
        </ol>
    </section>
    <h4>Submission Instructions</h4>
    <section>
        <p>Chapters should normally be maximum of 2-4 pages, 800-1500 words, single spaces, extended
            abstract format and full paper free format or single pages are welcomed. Authors to include ORCID ID
            or Google Scholar ID Scopus ID under their e-mail address. Please E-mail all chapters to the Coordinating and Acquisition Editor at longe.olumide@ieee.org with title Requirement Engineering Book
            Chapter Submission. Author will be levied USD 100 or its equivalence for the publication of Accepted
            Chapters </p>
    </section>
    <h4>Important Dates</h4>
    <section>
        <ul>
            <li>Full chapter submission to Editors: February 28, 2022</li>
            <li>Editors Review notification: March 15, 2022 </li>
            <li>Revised Chapter submission: March 31st, 2022</li>
            <li>Final Chapter submissions with Revisions April 15, 2022</li>
            <li>Final Online Publication: April 30th, 2022</li>
        </ul>
    </section>
    <h4>Target Audience</h4>
    <section>
        <p>This compendium will offer adequate references and valuable groundwork for practitioners on wide
            range of issues and best practice in the field of requirement engineering and help in conceiving and
            evolving more robust knowledge, infrastructure and adequate preventive measures against the impact
            of lack of Requirement Engineering. This compendium will offer adequate references and valuable
            groundwork for practitioners in the field of Requirement Engineering in conceiving and evolving better
            RE practices, theories, designs, analysis, applications, best practices and adequate preventive
            frameworks against non-usage and non-compliance with RE practices.</p>
    </section>

    <h4>Editors</h4>
    <section>
        <ul>
            <li>
                <p>Prof. Olumide Babatope Longe
                    Co-ordinating and Acquisition Editor
                    Professor & Dean Faculty of Computational Sciences & Informatics
                    Academic City University College, Accra, Ghana
                    Co-ordinator IEEE Area 6 & Chair IEEE Computer Society, Nigeria</p>
            </li>
            <li>
                <p>Prof. Surendra Tharkur (Collins)
                    Director of the KZN Digital CoLab, Durban University of Technology, South Africa
                    DTech in Information Technology
                    (Specialization - System Architecture for Secure Mobile Internet Voting) </p>
            </li>
            <li>
                <p>Prof. Fred McBangoluri
                    President & Professor of Systems & Industrial Engineering
                    Academic City University College, Accra, Ghana </p>
            </li>
            <li>
                <p>Prof. Edward Santiago Blaise, DBA, ITIL, MPM
                    Professor & Lead Researcher in Computing
                    State University of New York, Sullivan College, Liberty Upstate, New York</p>
            </li>
            <li>
                <p>Prof. Titus kehinde Olaniyi
                    Academic Lead
                    Engineering, Environment & Sustainability
                    Glasgow Caledonian University, London </p>
            </li>
            <li>
                <p>Engr Dr. Mikail Olaniyi
                    Department of Computer Engineering
                    Federal University of Technology
                    Minna, Nigeria</p>
            </li>
            <li>
                <p>Dr. Asani Tobiloba
                    Book Chapter Associate Editor
                    Department of Computer & Information Sciences
                    Landmark University, Omu-Aran, Nigeria</p>
            </li>
        </ul>
    </section>

</body>
