body{
    margin:0 5%;
}

.headline p, h1{
    line-height: 1.3em;
    text-align: center;
    margin: 0;
}

.collab{
    text-align: center;
}

.collab li{
    list-style: none;
}

h3{
    text-align: center;
}