@import "../../assets/media-query.scss";
body {
    padding: 2em;
    height: 90%;
    background: transparent;

    @include xs{
        height: 65vh;
    }
    h1 {
        width: 50%;
        font-size: 3.5rem;
        line-height: 1em;

        @include xs {
            width: 100%;
            font-size: 2.5rem;
        }

        @include sm {
            width: 100%;
        }
    }

    h2 {
        font-weight: 600;
    }

    p {
        width: 30%;

        @include xs {
            width: 100%;
            font-weight: 600;
        }

        @include sm {
            width: 100%;
        }
    }
}

.content{
    background: transparent;
    // z-index: 1;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;

    @include sm {
        width: 50%;
    }

    @include xs {
        opacity: 0.2;
    }
}
