<body>
    <img src="../../assets/images/DFD-01 1.png" alt="Background imagery" class="background">
    <div class="content">
        <h1>
            Information Systems Modelling Simulation and Security Research Group
        </h1>
        <h2>
            Why ISyMS Research?
        </h2>
        <p>The amount of data produced today, by humans
            and machines alike, far outpaces humans' ability
            to consume, perceive, and make complex
            decisions based on it.</p>
        <a href="about">Read more</a>
    </div>
</body>